# host email
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USERNAME=johnit22kh@gmail.com
EMAIL_PASSWORD=sitv sghn twhk dxjb

# key jwt
KEY_JWT=123456
ACCESS_TOKEN_EXPIRE=3600
REFRESH_TOKEN_EXPIRE=86400