# host email
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USERNAME=
EMAIL_PASSWORD=

# key jwt
KEY_JWT=
ACCESS_TOKEN_EXPIRE=
REFRESH_TOKEN_EXPIRE=

# hash password
SECRET_KEY=

# Oauth
GOOGLE_CLIENT_ID=
GOOGLE_SECRET_ID=

FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=

YOUR_AWS_ACCESS_KEY=
YOUR_AWS_SECRET_KEY=
BUCKET_NAME=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=