@import 'base/bootstrap-override.css';
* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}