.vehicle-card {
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    background-color: #fff;
    max-width: 500px;
    overflow: hidden;
}

.vehicle-card:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.vehicle-details {
    padding: 20px;
}

.vehicle-image {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.vehicle-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.vehicle-image img:hover {
    transform: scale(1.2);
}

.vehicle-image .action a {
    color: #fff;
    text-decoration: none;
}

.vehicle-image .action {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    color: #fff;
    /* background-color: #140d0d; */
    padding: 20px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
    display: flex;
    justify-content: start;
    align-items: center;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.vehicle-image:hover .action {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.vehicle-name {
    font-size: 24px;
    font-weight: bold;
    color: #0f2b46;
    text-decoration: none;
    transition: color 0.3s ease;
}

.vehicle-spec {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #eee;
}

.vehicle-spec:last-child {
    border-bottom: none;
}

.spec-label {
    font-weight: 500;
    width: 100px;
    color: #555;
}

.spec-value {
    font-weight: 600;
    color: #333;
}

.price-section {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding-top: 15px;
}

.price {
    font-size: 22px;
    font-weight: bold;
    color: #0f2b46;
}

.reviews {
    display: flex;
    align-items: center;
    gap: 5px;
}

.star-rating {
    background-color: #F5EEDC;
    border-radius: 5px;
    padding: 3px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}